this view will have a single completed workout session -- maybe linked to in summary

<!-- probably need to add some sort of logic so that this doesn't show up on old activities or use a framework to only render them on current activity -->
<div class="button-menu">
	<%= link_to "Select By Muscles", muscles_path, class: "browse-exercise-btn btn-lg btn-primary btn-block" %>
	<%= link_to "Select By Category", categories_path, class: "browse-exercise-btn btn-lg btn-primary btn-block" %>
</div>
    

<div class="exercise-group" style="display: none"></div>

<% if @exercise_activities.count >= 1 %>
<div>
	<h1>Current Exercises</h1>

	<div class="exercise-activity-list">
	<% @exercise_activities.each do |activity| %>
		<%= render partial: "/exercise_activities/form", locals: { activity: activity }  %>
	<% end %>
	</div>

	<!-- works to update exisiting activities, need to find a way when complete set is clicked to create a  -->

</div>
<% end %>