    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Your Fitness</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
         <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Log Your Workouts With Ease</h2>
            <p>Get started with a workout plan, browse exercises by muscle or by category and start lifting. Simple interface allows you log your results quickly so you can move on to your next set.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Find a Spotter</h2>
            <p>Need a workout buddy? Fitness Tracker lets you find or set up times to meet up with other fitness enthusiasts in your area.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Keep Track and Share your Progress</h2>
            <p>Your summary page allows you to keep track of all of the highlights for your workout and share your big accomplishments and goals with friends on Facebook and Google+</p>
        </div>

    </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-12">
                <h2>Get Started Today</h2>
                <p>
                    <a class="btn btn-default btn-lg" href="#">Sign Up Now</a>
                </p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->


