<div class="new-activity-form">
	<%= form_for @exercise_activity do |f| %>
		<p><%= f.text_field :weight %></p>
		<p><%= f.text_field :reps %></p>

		<p><%= f.submit "Complete Set" %></p>
		<% end %>
</div>