/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
    margin:0px;
}

/*exercise show page*/
.exercise-info div * {
  display: inline-block;
}

.main-container {
  overflow: auto;
  margin: 5px auto;
  width: 80%;
  padding: 0px 20px 20px 20px;
  text-align: center;
}

.main-container div * {
	text-align: left;
}

.brows-btns {
	width: 30%;
	margin: auto;
}
.browse_btns div {
	display: inline-block;
	width: 30%
}
.button-menu {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 20px 20px;
}

.browse-exercise-btn {
	text-align: center;
	margin-bottom: 10px;
}

.muscle-category-items {
	max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; 
}

.muscle-btn img {
	height: 50px;
}