<% @categories.each do |category| %>
 <div class="muscle-category-items">
	<button class="btn btn-default muscle-btn btn-block"><%= category.name %></button>
</div>
 <div class="muscle-group-workout-list" style="display: none">
 	<p>Top <%= category.name.capitalize %> Workouts </p>
 		<ul>
				<% category.exercises.each do |exercise| %>
				<li><%= link_to exercise.name, exercise_path(exercise.id) %></li>
			<% end %>
  </ul>
  </div>
<% end %>