<% @muscles.each do |muscle| %>

  <div class="muscle-category-items"><button class="btn btn-default muscle-btn btn-block"><%= image_tag muscle.muscle_thumbnail %> <%= muscle.name %></button></div>
  <div class="muscle-workout-list" style="display: none">
  <p> Top <%= muscle.name.capitalize %> Workouts </p>
    <ul>
      <% muscle.exercises.each do |exercise| %>
        <li><%= link_to exercise.name, exercise_path(exercise.id) %></li>
      <% end %>
    </ul>
    </div>
<% end %>