
<div class="button-menu">
	<%= link_to "View By Muscles", muscles_path, class: "browse-exercise-btn btn-lg btn-primary btn-block" %>
	<%= link_to "View By Category", categories_path, class: "browse-exercise-btn btn-lg btn-primary btn-block" %>
</div>
    

<div class="exercise-group" style="display: none"></div>
