Exercises Index



<%= @muscles.each do |muscle| %>
  <h2><%= button_to muscle.name %></h2>
  <p> Top <%= muscle.name.capitalize %> Workouts </p>
    <ul>
      <% muscle.exercises.each do |exercise| %>
        <li><%= link_to exercise.name, exercise_path(exercise.id) %></li>
      <% end %>
    </ul>
<% end %>

