
<%= link_to "View By Muscles", muscles_path, class: "view-by-muscles-btn", action: "get" %>
<%= link_to "View By Category", categories_path, class: "view-by-category-btn" %>


<div class="exercise-group"></div>
